Repository JuYeong0413/2020-dgu-fest, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔍 Review Needed, 💻 Back-End

Add: url include
  dgufest/urls.py
Labels: 💻 Back-End

Update README.md
  README.md
Labels: 🔍 Review Needed

Add: workflow for labeler
  .github/workflows/labeler.yml
Labels: none

Update README.md
  README.md
Labels: 🔍 Review Needed

Update README.md
  README.md
Labels: 🔍 Review Needed

.github/labeler.yml:

🔍 Review Needed:
  - ./*

💻 Back-End:
  - dgufest/*
